<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="button-style">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header-style">List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="md-git-network" item-left></ion-icon>
      <div class="item-note" item-right>
        {{item.description}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
